<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="spring">
      <section name="context" type="AC.SpringUtils.SpringContextHandler,AC.Spring" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      <!--<resource uri="assembly://WMS.ConnStringManager/WMS.ConnStringManager/AppContext.xml" />-->
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net" />
  </spring>

  <connectionStrings>
    <add name="ConnStringOfSizom" connectionString="Data Source=115.28.152.245;Initial Catalog=Sizom;User ID=artsizom;password=q1w2e3r$" />
  </connectionStrings>
</configuration>