*.user
*.suo
*.bak

Art.Common/bin/
Art.Common/obj/
Art.Dao/bin/
Art.Dao/obj/
Art.Service/bin/
Art.Service/obj/
Art.Service.Impl/bin/
Art.Service.Impl/obj/
Art.Service.Test/bin/
Art.Service.Test/obj/
Art.Service.Tests/bin/
Art.Service.Tests/obj/
Art.Web/bin/
Art.Web/obj/
